[Unit]
Description=Synchronizes the password database every 5 minutes
Requires=sync-passwords.service

[Timer]
Unit=sync-passwords.service
OnUnitInactiveSec=5m

[Install]
WantedBy=timers.target
