[Unit]
Description=Synchronizes the password database with the cloud
Wants=sync-passwords.timer

[Service]
ExecStart="%h/.scripts/sync-passwords.sh"

[Install]
WantedBy=default.target
